<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {{ component('test_configurator', {
                'activeTab': tab_name,
                'activeSection': section_name
            }) }}
        {% endblock %}
    </body>
</html>
